<div
	class="bg-orange-500 t p-5 text-center h-[66vh] flex flex-col justify-center items-center gap-y-16 relative"
>
	<img
		src="assets/images/banner_left.png"
		alt="veggies"
		class="absolute left-0 top-10 h-4/5"
	/>
	<img
		src="assets/images/banner_right.png"
		alt="veggies"
		class="absolute right-0 top-10 h-4/5"
	/>
	<!-- <img src="assets/images/banner_right.png" alt="sushi" /> -->
	<h1 class="text-2xl md:text-5xl text-white font-bold mb-2 w-2/3 mx-auto">
		Order food & groceries. Discover best restaurants. Swiggy it!
	</h1>
	<div class="mb-4">
		<input
			type="text"
			[(ngModel)]="searchTerm"
			placeholder="Search for restaurants..."
			class="border rounded-lg p-2 w-96 mx-auto"
		/>
	</div>
</div>

<div class="px-20">
	<!-- Popular Food Section -->
	<h2 class="text-2xl md:text-3xl font-bold mb-6">What's on your mind?</h2>
	<div class="flex items-center justify-between">
		<div class="flex overflow-x-auto gap-x-28 pb-4">
			<div
				*ngFor="let menuItem of filteredCuisines"
				class="flex-shrink-0 flex-grow text-center"
			>
				<a
					[routerLink]="'/restaurant/' + menuItem.restaurantId"
					class="block"
				>
					<img
						[src]="menuItem.imageUrl"
						alt="{{ menuItem.name }}"
						class="rounded-lg w-24 h-24 mx-auto mb-2 object-cover"
					/>
					<h3 class="text-sm font-semibold text-gray-800">
						{{ menuItem.name }}
					</h3>
				</a>
			</div>
		</div>
	</div>

	<!-- Restaurants Section -->

	<h1 class="text-2xl md:text-3xl font-bold mt-8 mb-4">
		Top Restaurant Chains in Chennai
	</h1>
	<div class="flex overflow-x-auto space-x-4 pb-4">
		<app-restaurant-card
			*ngFor="let restaurant of filteredRestaurants"
			[id]="restaurant.id"
			[name]="restaurant.name"
			[cuisine]="restaurant.cuisine"
			[location]="restaurant.location"
			[imageUrl]="restaurant.imageUrl"
			[rating]="restaurant.rating"
			[duration]="restaurant.duration"
			(addToFavorites)="addToFavorites(restaurant)"
			class="flex-shrink-0 w-1/4"
		></app-restaurant-card>
	</div>
</div>
