<a (click)="onLinkClick($event)">
	<div class="rounded-lg transition-transform transform hover:scale-95">
		<img
			[src]="imageUrl"
			alt="{{ name }}"
			class="rounded-3xl mb-4 w-full h-48 object-cover"
		/>
		<div class="flex justify-between items-center">
			<h3 class="text-lg font-semibold text-gray-800">{{ name }}</h3>
			<button
				(click)="onAddToFavorites()"
				class="mt-2 text-orange-600 hover:text-orange-800 rounded px-4 py-2 flex items-center"
			>
				<i class="fas fa-heart"></i>
			</button>
		</div>
		<div class="flex justify-between items-center my-2">
			<span class="text-yellow-500">
				<i class="fas fa-star"></i> {{ rating }}
			</span>
			<span class="text-gray-500">{{ duration }} </span>
		</div>
	</div>
</a>
