<div class="max-w-3xl mx-auto">
	<!-- Restaurant Info -->
	<div class="restaurant-menu mt-20" *ngIf="restaurant">
		<div class="mb-10 ml-4 rounded-3xl p-5 rest-details">
			<div class="bg-white rounded-3xl p-5 border">
				<h2 class="text-2xl font-black mb-10">{{ restaurant.name }}</h2>
				<div class="font-semibold text-sm">
					<p class="text-md mt-2 text-green-800">
						<i class="fa-solid fa-star mr-1 h-1"></i
						>{{ restaurant.rating }}
					</p>
					<p>{{ restaurant.duration }}</p>
					<p>{{ restaurant.location }}</p>
				</div>
			</div>
		</div>

		<div class="menu-items grid grid-cols-1">
			<h3 class="text-xl pt-4 ml-4 border-t border-gray-300 font-bold">
				Recommended
			</h3>
			<div
				*ngFor="let menuItem of menuItems"
				class="bg-white border-b border-gray-300 rounded-lg p-4 mb-6"
			>
				<div class="flex items-cente font-bold">
					<div class="flex-grow">
						<h2 class="text-lg text-gray-700">
							{{ menuItem.name }}
						</h2>
						<p class="">
							{{ menuItem.price | currency : "INR" : "symbol" }}
						</p>
						<p class="text-sm mt-2 text-green-800">
							<i class="fa-solid fa-star mr-1 h-1"></i
							>{{ menuItem.rating }}
						</p>

						<p class="mt-2 font-semibold text-md text-gray-500">
							{{ menuItem.description }}
						</p>
					</div>
					<div class="ml-4">
						<img
							[src]="menuItem.imageUrl"
							[alt]="menuItem.name"
							class="rounded-lg w-24 h-24 object-fit"
						/>
					</div>
				</div>

				<div class="flex justify-between">
					<!-- Quantity Controls -->
					<div
						class="flex items-center text-green-600 justify-between font-black mt-4 rounded-xl border border-green-600"
					>
						<button
							(click)="decreaseQuantity(menuItem)"
							class="p-2 px-4 rounded-l-xl hover:bg-gray-200"
						>
							-
						</button>
						<input
							type="number"
							[(ngModel)]="menuItem.quantity"
							class="w-12 text-center quantity-display"
						/>
						<button
							(click)="increaseQuantity(menuItem)"
							class="p-2 px-4 rounded-r-xl hover:bg-gray-200"
						>
							+
						</button>
					</div>

					<!-- Add to Cart Button -->
					<button
						(click)="addToCart(menuItem)"
						class="mt-4 w-28 font-black hover:bg-gray-200 text-green-600 border border-green-600 py-2 rounded-lg"
					>
						ADD
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
