<div
	class="orders-container my-20 bg-white border border-gray-300 rounded-lg p-4 w-[800px] mx-auto"
>
	<h2 class="text-xl font-semibold text-gray-800 mb-4">Your Orders</h2>

	<!-- No orders found -->
	<div *ngIf="orders.length === 0" class="text-center text-gray-500">
		No orders found.
	</div>

	<!-- Orders list -->
	<div *ngFor="let order of orders" class="order mb-6">
		<div class="flex justify-between items-start">
			<div class="flex items-start">
				<div class="ml-4">
					<h3 class="text-xl font-semibold text-gray-800">
						{{ order.restaurantName }}
					</h3>
					<p class="text-gray-500">{{ order.location }}</p>
					<p class="text-sm text-gray-400">
						ORDER #{{ order.id }} |
						{{ order.date | date : "short" }}
					</p>
					<a
						href="#"
						class="text-orange-500 font-medium mt-2 inline-block"
						>VIEW DETAILS</a
					>
				</div>
			</div>
			<div class="text-right">
				<p class="text-sm text-gray-400">
					Ordered on {{ order.date | date : "short" }}
				</p>
				<i class="fas fa-check-circle text-green-500 text-lg mt-1"></i>
			</div>
		</div>

		<hr class="my-4" />

		<div class="flex justify-between items-center">
			<p class="text-gray-600">
				<span *ngFor="let item of order.items; let last = last">
					{{ item.name }} x {{ item.quantity }}{{ last ? "" : ", " }}
				</span>
			</p>
			<p class="text-gray-800 font-medium">
				Total Paid: {{ order.totalCost | currency : "INR" : "symbol" }}
			</p>
		</div>

		<div class="mt-4 flex space-x-4">
			<button
				class="border border-orange-500 text-orange-500 font-medium py-2 px-6 rounded-md"
			>
				REORDER
			</button>
			<button
				class="border border-orange-500 text-orange-500 font-medium py-2 px-6 rounded-md"
			>
				HELP
			</button>
		</div>
	</div>
</div>
